

.container {
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    background-color: #181C14;
    border-radius: 8px;
    padding: 30px;
    gap: 40px;
    

    article {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        width: 100%;
        color: #F4F6FF;
        font-size: 24px;
        border-radius: 6px;
        background-color: #3C3D37;

        .copyBtn {
            cursor: pointer;
        }
    }
    
    .tools {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: start;
        align-items: center;

        .charLength {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h2 {
                width: 100%;
                display: flex;
                justify-content: space-between;
                color: #F4F6FF;
                font-weight: 600;

                span {
                    color: #06D001;
                    font-size: 24px;
                }
            }

            .slider {
                width: 100%;
            }
        }


        .checks {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            gap: 10px;

            
        }

        .strength {
            margin-top: 10%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
            background-color: #3C3D37;
            border-radius: 8px;
            gap: 20px;

            h2 {
                width: 100%;
                display: flex;
                justify-content: space-between;
                color: #F4F6FF;
                font-weight: 600;
            }

            .difficulty {
                width: 100%;
            }
        }

        .genBtn {
            width: 100%;
            height: 60px;
            color: #F4F6FF;
        }
    }
}

